* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: rgb(226, 199, 164);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  max-width: 500px;
  background-color: #fff;
  padding: 50px 40px;
  border-radius: 10px;
}

.login-form h1 {
  text-align: center;
  margin: 48px 0;
  font-size: 36px;
  color: #111;
  font-size: 36px;
}

.textb {
  margin-bottom: 12px;
  position: relative;
}

.textb input {
  width: 100%;
  height: 70px;
  border: none;
  background-color: #ededed;
  border-radius: 4px;
  color: #333;
  font-size: 18px;
  font-weight: 00;
  padding: 14px 60px 0 10px;
}

.placeholder {
  text-transform: uppercase;
  position: absolute;
  line-height: 70px;
  top: 0;
  left: 20px;
  color: #9d9d9d;
  user-select: none;
  pointer-events: none;
}

.show-password {
  position: absolute;
  right: 20px;
  line-height: 70px;
  color: #9d9d9d;
  font-size: 22px;
  cursor: pointer;
}

.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder {
  left: 10px;
  top: -16px;
}

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 20px 0;
}

.checkbox input {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  background-color: #ededed;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox .fa-check {
  position: absolute;
  color: #fff;
  font-size: 14px;
  width: 24px;
  text-align: center;
  user-select: none;
  pointer-events: none;
  opacity: 0;
}

.checkbox input:checked {
  background-color: rgb(226, 199, 164);
}

.checkbox input:checked + .fa-check {
  opacity: 1;
}

.btn {
  display: block;
  width: 100px;
  height: 100px;
  margin: 40px auto;
  background-color: rgb(226, 199, 164);
  color: #fff;
  font-size: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s linear;
}

.btn:hover {
  opacity: 0.85;
}
.fa-google {
  color: #397ef6;
  margin: 2px;
}

.login-form a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #555;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
  transition: 0.2s linear;
}

.login-form a:hover {
  color: #111;
}

.btn:disabled {
  background-color: transparent;
  color: #ddd;
  border: 2px solid;
}

.main-container {
  padding: 40px;
  background-color: #1a4669;
  border-radius: 10px;
  margin: 50px 0px;
  /* #0D426E */
}
.main-container h1 {
  text-align: center;
  color: #fff;
}
.container {
  border-radius: 10px;
  background-color: #fff;
  margin: 40px;
}
.header {
  width: 400px;
}
.header h2 {
  text-align: center;
  background-color: #457599;
  color: #fff;
  padding-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
}
.form {
  padding: 30px 40px;
}
.form .form-details {
  padding: 10px 0 20px;
  margin: 10px;
  position: relative;
}
.form .form-details.success input {
  border-color: #2ecc71;
}
.form .form-details.error input {
  border-color: #e74c3c;
}
.form .form-details.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.form .form-details.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.form .form-details span {
  display: inline-block;
  margin-bottom: 5px;
}
.form .form-details input {
  display: block;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.form .form-details i {
  position: absolute;
  top: 49px;
  right: 10px;
  visibility: hidden;
}
.form .form-details small {
  visibility: hidden;
}
.form-details.error small {
  visibility: visible;
}
.form button {
  width: 100%;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  background-color: #1a4669;
}
